# Vector DB
db/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
rag/
.env/

# macOS
.DS_Store

# Personal documents
data/


#voice agents
wake_word.py
voice_agent.py
record_audio.py

build/
dist/
*.egg-info/

__pycache__/
*.pyc

data/
storage/